.wp-block-button {
    $root: &;
    margin-bottom: 1rem;

    &__link:not(.is-style-outline) {
        background-image: none;

        @extend .button;
        @extend .is-primary;
    }

    &.is-style-outline {
        #{$root}__link {
            @extend .button;
            @extend .is-primary;
            @extend .is-outlined;
        }
    }
}
