.wp-block-categories-list {
    @include from($tablet) {
        column-count: 2;
    }

    @include from($desktop) {
        column-count: 3;
    }
}

.wp-block-categories-dropdown {
    @include from($tablet) {
        text-align: center;
    }
}
