.wp-block-categories-list {
    +from tablet {
        column-count: 2;
    }

    +from desktop {
        column-count: 3;
    }
}

.wp-block-categories-dropdown {
    +from tablet {
        text-align: center;
    }
}
