.wp-block-quote,
.wp-block-pullquote {
    background: #ffffff !important;
    border-color: $link;
    padding-left: 2em;
    position: relative;

    &::before {
        color: $grey-lighter;
        content: open-quote;
        font-size: 150px;
        line-height: 1;
        position: absolute;
        top: 0; left: 0;
        z-index: 0;
    }

    > * {
        position: relative;
    }

    p {
        margin-bottom: 0.5rem;
    }

    cite {
        &::before {
            content: '\00a0\2014';
        }
    }
}
