.is-style-destaque {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 2rem 0;
    position: relative;

    &::before {
        content: '';
        background-color: $cor-marrom-claro;
        background-image: url('../img/bg-destaque.png');
        background-repeat: repeat;
        display: block;
        position: absolute;
        left: calc(-50vw + 50%);
        top: 0;
        width: 100vw; height: 100%;
        z-index: -1;
    }
}
