.bg1 {
    background: url('../img/bg-01.png') top right no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg2 {
    background: url('../img/bg-02.png') top right no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg3 {
    background: url('../img/bg-03.png') top right no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg4 {
    background: url('../img/bg-04.png') top right no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
