.coluna-collapse {
    background: $cinza-claro;
    opacity: 0.5;
    text-align: center;
    height: 100vh;
    width: 60px;

    &__logo {
        background: $cinza-escuro;
        height: 50px;
        opacity: 0.5;
        padding: 10px 0;
    }
}
