.coluna-separator {
    background: $cor-collapse-bar;
    opacity: 0.8;
    text-align: center;
    height: 100%;
    width: 50px;
    float: left;

    &__logo {
        background: $cor-collapse-btn-bg;
        height: 50px;
        opacity: 0.5;
        padding: 10px 0;
    }
}
