.coluna-collapse {
    @include transition(all 0.5s linear);
    &.collapsing {
        @include media-breakpoint-up(lg) {
            height: auto;
            width: 0;
            flex-basis: 0;
        }
    }
}
