.coluna-content {
    min-height: 100vh;
}

.content {
    background: $cor-content-bg;
    padding: 15px 30px 15px 30px;
    margin-top: 50px;
    height: calc(100% - 50px);

    ul {
        list-style: none;

        > li::before {
            content: "\25A0";
            color: $link-color;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }

    img {
        filter: none;
        transition: all .2s ease-in-out;

        &:hover {
            filter: grayscale(100%);
        }
    }
}
