.home {
    /* display: flex;
    flex-flow: column;
    justify-content: center; */
    padding-top: 225px;

    &__link {
        color: $cor-sub-menu-active;
        font-size: 2.5rem;
        font-weight: bold;
        position: relative;
        text-transform: uppercase;
        z-index : 1;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 1px;
            width: 50%;
            border-bottom: 3px solid $cor-sub-menu-active;
        }
    }
}
