.menu {
    text-align: center;
    flex-grow: 1;
    overflow-y: scroll;
    width: 70%;
}

.menu-item {
    margin-bottom: 5px;

    > a {
        color: $body-color;
        font-size: 0.95rem;
        font-weight: 600;
    }

    &.current-menu-item,
    &.current-menu-ancestor {
        > a {
            color: $link-color;
        }
    }
}

.sub-menu {
    @extend .list-unstyled;

    .menu-item {
        > a {
            color: $cor-sub-menu;
            font-size: 0.75rem;
            font-weight: normal;
        }

        &.current-menu-item {
            > a {
                color: $cor-sub-menu-active;
            }
        }
    }
}
