.menu {
    text-align: center;
    flex-grow: 1;
}

.menu-item {
    @extend .nav-item;

    > a {
        @extend .nav-link;
        color: $body-color;
        font-size: 0.95rem;
        font-weight: 600;
    }

    &.current-menu-item {
        > a {
            color: $link-color;
        }
    }
}

.sub-menu {
    @extend .nav;

    .menu-item {
        @extend .nav-item;
        flex-grow: 1;

        > a {
            @extend .nav-link;
            color: $cor-sub-menu;
            font-size: 0.75rem;
            font-weight: normal;
        }

        &.current-menu-item {
            > a {
                color: $cor-sub-menu-active;
            }
        }
    }
}
