@import 'sweetalert2/src/variables';

// Disable Animations
$swal2-show-animation: none;
$swal2-hide-animation: none;

// Box
$swal2-border-radius: 0;
$swal2-box-shadow: none;
$swal2-width: 33vw;

// Close Button
$swal2-close-button-hover-color: var(--buttonHoverColor, inherit);

// Title
$swal2-title-font-size: 1.5em;
$swal2-title-text-align: left;

// HTML Container
$swal2-html-container-justify-content: start;
$swal2-html-container-text-align: left;
$swal2-html-container-font-size: var(--fontSize, 1rem);
$swal2-html-container-font-weight: var(--fontWeight, 400);

@import 'sweetalert2/src/sweetalert2';

.swal2-html-container {
  > :last-child {
    margin-bottom: 0;
  }
}
