.post-type-archive-registro,
.tax-unidade {
    overflow-x: hidden;
}

.timeline-title {
    @extend %blocksy-container;

    font-size: 2rem;
    font-weight: 600;
    margin-bottom: var(--content-spacing, 1rem);
    text-align: center;
}

.ano-list {
    @extend %blocksy-container;

    display: flex;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;

    position: relative;

    font-weight: 600;
    font-size: 1.2rem;

    margin-bottom: 2rem;
    padding: 10px 30px;

    &--sticky {
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 100%;

        background-color: var(--background-color, inherit);
        box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.5);
        z-index: 1;
    }

    &__link {
        background-image: none;
        border-radius: 4px;
        color: inherit;
        text-align: center;
        padding: 0 5px;
        margin: 0 10px 5px 0;

        &:hover {
            color: var(--linkInitialColor, $cor-marrom-claro);
        }

        &.active {
            background-color: var(--buttonHoverColor, $cor-marrom-escuro);
            color: #ffffff;
        }
    }
}

.timeline-info {
    margin-top: 0.5rem;
    text-align: center;
    width: 100%;
}

.timeline-list {
    @extend %blocksy-container;
}

.timeline {
    display: none;
    position: relative;

    &.active {
        display: block;
    }

    &::before {
        content: '';
        background: var(--linkInitialColor, $cor-marrom-claro);
        background-image: linear-gradient(to bottom, var(--linkInitialColor, $cor-marrom-claro), color-mix(in srgb, var(--linkInitialColor, $cor-marrom-claro), #ffffff 10%));
        border-radius: var(--buttonBorderRadius, 4px);
        width: 5px;
        height: 98%;
        height: calc(100% - 50px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    @include media-breakpoint-down('md') {
        &::before {
            left: 20px;
        }
    }
}

.timeline-registro {
    $root: &;

    width: 100%;
    margin-bottom: 30px;

    @extend %clearfix;

    &--without-thumbnail {
        #{$root}__date + #{$root}__title {
            margin-top: 1rem;
        }
    }

    &::before {
        content: '';
        width: 30px;
        height: 30px;
        background: var(--linkHoverColor, $cor-marrom-escuro);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        margin-top: 25px;
        margin-left: -15px;
    }

    a {
        background:
        linear-gradient(currentColor 0 0)
        0 100% / var(--d, 0) 1px
        no-repeat;
    }

    .card {
        background-color: var(--wp--preset--color--white, #ffffff);
        width: 45%;
        border-radius: var(--buttonBorderRadius, 4px);
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
        ;
        opacity: 0;
        position: relative;

        @include media-breakpoint-down('md') {
            max-width: 100%;
            width: auto;
            margin-left: 70px;
        }

        &::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            right: -15px;
            border-width: 10px 0 10px 15px;
            border-color: transparent transparent transparent #ffffff;
        }
    }

    &__image {
        @supports (object-fit: cover) {
            object-fit: cover;
            object-position: center;
        }

        @supports (aspect-ratio: auto) {
            aspect-ratio: 16 / 9;
        }
    }

    &__date {
        background: var(--buttonHoverColor, $cor-marrom-escuro);
        border-top-right-radius: var(--buttonBorderRadius, 4px);
        display: inline-block;
        color: #ffffff;
        cursor: help !important;
        font-size: 0.8rem;
        font-weight: 500;
        margin: 0;
        padding: var(--button-padding);
        position: absolute !important;
        text-transform: uppercase;
        top: 0;
        right: 0;

        @include media-breakpoint-down('md') {
            right: auto;
            left: 0
        }

        &:empty {
            display: none;
        }
    }

    &__content {
        padding: var(--wp--preset--spacing--50, 1.5rem);
    }

    &__title {
        color: var(--headings-color, inherit);
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: var(--content-spacing, 1rem);
    }

    &__link {
        font-weight: 400;
    }

    &:nth-child(even) {
        .card {
            float: right;

            @include media-breakpoint-down('md') {
                float: none;
            }

            &::after {
                content: '';
                position: absolute;
                border-style: solid;
                width: 0;
                height: 0;
                top: 30px;
                left: -15px;
                border-width: 10px 15px 10px 0;
                border-color: transparent #ffffff transparent transparent;
                box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
            }
        }

        #{$root}__date {
            right: auto;
            left: 0;
            border-top-right-radius: 0;
            border-top-left-radius: var(--buttonBorderRadius, 4px);
        }
    }

    @include media-breakpoint-down('md') {
        &::before {
            left: 20px;
        }

        &:nth-child(odd) {
            .card {
                &::after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    width: 0;
                    height: 0;
                    top: 30px;
                    left: -15px;
                    border-width: 10px 15px 10px 0;
                    border-color: transparent #ffffff transparent transparent;
                }
            }
        }
    }
}

.modal-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    &__item {
        flex: 1 1 auto;

        &--right {
            text-align: right;
        }

        p {
            margin-bottom: var(--content-spacing, 1rem);
        }
    }
}

.modal-img {
    margin-bottom: var(--content-spacing, 1rem);
}
