// Fonts
$FontPathOpenSans:            '../fonts';

// Bootstrap
$font-family-sans-serif:      "Open Sans", Arial, sans-serif;

$body-bg: #b9b8b7;
$body-color: #424241;

$link-color: #b34d22;

$cor-collapse-bar: rgba(111, 111, 111, 0.8);
$cor-collapse-btn-bg: rgba(77, 77, 77, 0.8);
$cor-content-bg: rgba(247, 246, 247, 0.3);
$cor-back-top-bar: rgba(116, 116, 115, 0.8);
$cor-back-bg: rgb(119, 119, 119);

$cor-sub-menu: #797979;
$cor-sub-menu-active: #672211;
