// Fonts
$FontPathOpenSans:            '../fonts';

// Bootstrap
$font-family-sans-serif:      "Open Sans", Arial, sans-serif;

$cinza-escuro: #4d4d4d;
$cinza-claro: #6f6f6f;
$cor-content: #f7f6f7;
$cor-topo-barra: #747473;
