/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    @extend .clearfix;
}

.aligncenter {
    @extend .text-center;
}

.alignright {
    @extend .text-right;
}

.alignleft {
    @extend .text-left;
}

img,
.wp-caption {
    &.alignnone {
        @extend .clearfix;
        min-width: calc(100% + 60px);
        margin: 10px -60px 10px -30px;
    }

    &.aligncenter {
        @extend .mx-auto;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    &.alignright {
        @extend .float-right;
        margin: 5px 0 20px 20px;
    }

    &.alignleft {
        @extend .float-left;
        margin: 5px 20px 20px 0;
    }
}

.wp-caption {
    max-width: 96%;
    text-align: center;

    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 100%;
        min-width: 100%;
        padding: 0;
        width: auto;
    }

    p {
        &.wp-caption-text {
            color: $link-color;
            font-size: 0.85rem;
            font-style: italic;
            margin: 0;
            padding: 5px;
        }
    }
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

    &:focus {
        background-color: #eee;
        clip: auto !important;
        clip-path: none;
        color: #444;
        display: block;
        font-size: 1rem;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
        /* Above WP toolbar. */
    }
}

/* Content gallery */
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery-item {
    margin-bottom: 5px;
    text-align: center;

    a {
        display: block;
    }

    .widget-area & {
		margin-bottom: 5px;
    }
}

.gallery-icon {
    img {
        margin: 0 auto;
        display: block;
    }
}

.gallery-caption {
    color: #666;
    font-size: 0.7rem;
}

@for $i from 1 through 9 {
	.gallery-columns-#{$i} {
		.gallery-item {
			flex-basis: calc(#{percentage(1/$i)} - 5px);
		}
	}
}
