body {
    background-color: $background;

    &.home {
        background-color: #ffffff;

        main {
            font-size: 1.1rem;
        }
    }

    &.error404 {
        background-color: #ffffff;
    }
}
