/* =WordPress Core
-------------------------------------------------------------- */
img,
.wp-caption {
    &.alignnone {
        min-width: calc(100% + 60px);
        margin: 10px -60px 10px -30px;
    }

    &.aligncenter {
        @extend .mx-auto;
        margin-bottom: 20px;
        margin-top: 5px;
        max-width: 90%;
    }

    &.alignright {
        @extend .float-right;
        margin: 5px 0 20px 20px;
        max-width: 40%;
    }

    &.alignleft {
        @extend .float-left;
        margin: 5px 20px 20px 0;
        max-width: 40%;
    }
}

.wp-caption {
    max-width: 96%;
    text-align: center !important;

    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 100%;
        padding: 0;
        width: auto;
    }

    p {
        &.wp-caption-text {
            color: $link-color;
            font-size: 0.85rem;
            font-style: italic;
            margin: 0;
            padding: 5px;
        }
    }
}

/* Text meant only for screen readers. */
.screen-reader-text {
    @include sr-only;
}

/* Content gallery */
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery-item {
    margin-bottom: 5px;
    text-align: center;

    a {
        display: block;
    }

    .widget-area & {
		margin-bottom: 5px;
    }
}

.gallery-icon {
    img {
        margin: 0 auto;
        display: block;
    }
}

.gallery-caption {
    color: $link-color;
    font-size: 0.8rem;
}

@for $i from 1 through 9 {
	.gallery-columns-#{$i} {
		.gallery-item {
			flex-basis: calc(#{percentage(1/$i)} - 5px);
		}
	}
}
