.footer {
    &__titulo {
        font-size: 1rem;
        font-weight: 500;
    }

    &__portal {
        &:hover {
            filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.25) );
        }
    }

    &__widget {
        font-size: 0.9rem;

        @include from($tablet) {
            text-align: right;
        }

        p {
            margin-bottom: 0.5rem;
        }
    }
}
