.footer {
    background-color: #ffffff;
    padding: 25px 0;

    &__numem {
        display: inline-block;
        margin-bottom: 30px;

        @include media-breakpoint-up(lg) {
            margin-right: 15px;
            max-width: 45%;
        }
    }

    &__ifrs-link {
        display: inline-block;
        margin-bottom: 30px;

        @include media-breakpoint-up(lg) {
            max-width: 45%;
        }
    }

    &__titulo {
        font-size: 1rem;
    }

    &__widget {
        font-size: 0.9rem;

        @include media-breakpoint-up(sm) {
            text-align: right;
        }
    }
}
