.footer {
    // background-color: #ffffff;
    // padding: 25px 0 10px 0;

    // &__numem {
    //     display: inline-block;
    //     margin-bottom: 30px;

    //     @include from($desktop) {
    //         margin-bottom: 0;
    //         margin-right: 15px;
    //         max-width: 45%;
    //     }
    // }

    // &__ifrs-link {
    //     display: inline-block;
    //     margin-bottom: 30px;

    //     @include from($desktop) {
    //         margin-bottom: 0;
    //         max-width: 45%;
    //     }
    // }

    &__titulo {
        font-size: 1rem;
        font-weight: 500;
    }

    &__widget {
        font-size: 0.9rem;

        @include from($tablet) {
            text-align: right;
        }

        p {
            margin-bottom: 0.5rem;
        }
    }
}
