.navbar {
    border-top: 1px solid rgba(#ffffff, 0.5);
    border-bottom: 1px solid rgba(#ffffff, 0.5);

    padding: 0.5rem;
}

.navbar-nav {
    .active {
        font-weight: bold;
    }

    .nav-link {
        text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    }
}

.dropdown-menu {
    > .active {
        > .dropdown-item {
            @extend .active;
        }
    }
}
