.pagination {
    justify-content: center !important;
}

.post-page-numbers {
    @extend .pagination-link;

    background-image: none;

    &.current {
        @extend .is-current;

        font-weight: 400;
    }
}
