.pagination {
    justify-content: center !important;
}

.post-page-numbers {
    @extend .page-link;
    background-image: none;

    &.current {
        color: $body-color;
        cursor: default;
        font-weight: 400;
    }
}
