.tainacan-metadata {
    @include clearfix;
}

.tainacan-document {
    $root: &;

    > * {
        display: block;
    }

    a {
        background-image: none !important;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10vh;

        a:hover + #{$root}__download {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__download {
        position: absolute;
        opacity: 0;
        transform: scale(0);
        border-radius: 24px;
        width: 36px;
        height: 36px;
        bottom: -12px;
        right: calc(50% - 18px);
        cursor: pointer;
        font-size: 0;
        background-color: $link;
        color: white;
        transition: opacity 0.3s ease,
            transform 0.3s ease,
            font-size 0.3s ease,
            background-color 0.2s ease;

        &:hover {
            opacity: 1;
            transform: scale(1);
            background-color: darken($link, 10%);
        }

        a {
            background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cGF0aCBkPSJNMyAxNXY0YzAgMS4xLjkgMiAyIDJoMTRhMiAyIDAgMCAwIDItMnYtNE0xNyA5bC01IDUtNS01TTEyIDEyLjhWMi41Ii8+PC9zdmc+") center center no-repeat !important;
            height: 36px;
            width: 36px;
            display: block;
            position: relative;
            z-index: 99;
        }
    }
}

.tainacan-item-file-download {
    display: inline-block;
    margin-top: 0.5rem;
}
