.post-type-archive-registro,
.tax-unidade {
    overflow-x: hidden;

    .modal-title {
        color: $cor-marrom-claro;
    }
}

.ano-list {
    justify-content: center;
    align-items: stretch;
    align-content: space-around;

    position: relative;

    font-weight: 600;
    font-size: 1.2rem;

    margin-bottom: 30px;
    padding: 10px 30px;

    &__link {
        background-image: none;
        border-radius: 4px;
        color: $primary;
        text-align: center;
        padding: 0 5px;
        margin: 0 10px 5px 0;

        &:hover {
            color: $cor-marrom-claro;
        }

        &.active {
            background-color: $cor-marrom-escuro;
            color: #ffffff;
        }
    }
}


.timeline {
    position: relative;

    &::before {
        content: '';
        background: $cor-marrom-claro;
        width: 5px;
        height: 98%;
        height: calc(100% - 50px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    @include media-breakpoint-down(sm) {
        &::before {
            left: 20px;
        }
    }
}

.registro {
    $root: &;

    width: 100%;
    margin-bottom: 30px;

    @include clearfix;

    &::before {
        content: '';
        width: 30px;
        height: 30px;
        background: $primary;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        margin-top: 25px;
        margin-left: -15px;
    }

    a {
        background:
        linear-gradient(currentColor 0 0)
        0 100% / var(--d, 0) 1px
        no-repeat;
    }

    .card {
        width: 45%;
        box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

        @include media-breakpoint-down(sm) {
            max-width: 100%;
            width: auto;
            margin-left: 70px;
        }

        > .card-body {
            padding-top: 40px;
        }

        .embed-responsive + .card-body {
            padding: 1.25rem;
        }

        > .card-img-overlay {
            background-color: rgba(#ffffff, 0.8);
            text-shadow: 0 0 1px rgba(#000000, 0.5);
        }

        &::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 28px;
            right: -15px;
            border-width: 10px 0 10px 15px;
            border-color: transparent transparent transparent #ffffff;
            box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
        }
    }

    &__image {
        @supports (object-fit: cover) {
            object-fit: cover;
            object-position: center;
        }
    }

    &__date {
        background: $cor-marrom-escuro;
        border-top-right-radius: $border-radius;
        display: inline-block;
        color: #ffffff;
        cursor: help;
        font-size: 0.9rem;
        padding: 3px 10px;
        position: absolute;
        text-transform: uppercase;
        top: 0;
        right: 0;

        @include media-breakpoint-down(sm) {
            right: auto;
            left: 0
        }

        &:empty {
            display: none;
        }
    }

    &__title {
        color: $cor-marrom-claro;
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 10px;
    }

    &__link {
        font-weight: 400;
    }

    &:nth-child(even) {
        .card {
            float: right;

            @include media-breakpoint-down(sm) {
                float: none;
            }

            &::after {
                content: '';
                position: absolute;
                border-style: solid;
                width: 0;
                height: 0;
                top: 30px;
                left: -15px;
                border-width: 10px 15px 10px 0;
                border-color: transparent #ffffff transparent transparent;
                box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
            }
        }

        #{$root}__date {
            right: auto;
            left: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        &::before {
            left: 20px;
        }

        &:nth-child(odd) {
            .card {
                &::after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    width: 0;
                    height: 0;
                    top: 30px;
                    left: -15px;
                    border-width: 10px 15px 10px 0;
                    border-color: transparent #ffffff transparent transparent;
                }
            }
        }
    }
}
