.timeline {
    overflow: hidden;

    &__ano-list {
        justify-content: center;
        align-items: stretch;
        align-content: space-around;

        position: relative;

        font-weight: 600;
        font-size: 1.2rem;

        padding: 10px 30px;
    }

    &__ano-link {
        color: $cor-sub-menu-active;
        text-align: center;
        padding: 0 0.1rem;
        margin: 0 0.8rem 0.3rem 0;

        &.active {
            color: #ffffff;
            border-bottom: 2px solid #ffffff;
        }
    }

    &__ano-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;

        text-align: center;
        font-size: 1.1rem;

        position: relative;
    }

    .tab-content {
        height: 100%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: url('../img/pattern.png') repeat center center;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            top: 0;
            left: 0;
        }
    }
}

.registro {
    max-width: 300px;
    min-width: 200px;
    flex: 1 1 0;
    text-align: center;
    font-size: 0.85rem;
    margin: 20px;
    padding: 10px;
    background-color: rgba(255,255,255,0.2);

    &:hover {
        background-color: rgba(255,255,255,0.6);
        transition: .2s ease .1s;
    }

    &__date {
        display: block;
        font-size: 1.3rem;
        color: $cor-sub-menu-active;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__title {
        font-weight: 800;
        font-size: 1.25rem;
        margin: 0 0 10px;
    }

    &__text {
        line-height: 1.5;
    }

    &__link {
        display: inline-block;
        line-height: 1.5;
        font-weight: bold;
    }

    &__image {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        margin-bottom: 20px;
        max-width: 80%;
    }
}

.registro-detalhe {
    &__image {
        float: left;
        margin-right: 15px;
        width: 40%;
    }

    &__caption {
        color: $gray-600;
        font-size: 0.85rem;
        font-style: italic;
        margin: 0;
        padding: 5px 0;
    }
}
