$primary: $cor-marrom-escuro;
$family-sans-serif: "Signika", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$weight-normal: 300;
$link: $cor-marrom-claro;
$link-hover: $cor-marrom-escuro;
$background: #F9F3F2;
$footer-padding: 3rem 1.5rem;
$footer-background-color: #ffffff;

$tabs-border-bottom-color: none;
$tabs-border-bottom-width: 0;

$tabs-toggle-link-border-color: none;
// $tabs-toggle-link-border-style: ;
// $tabs-toggle-link-border-width: ;
$tabs-toggle-link-hover-background-color: none;
// $tabs-toggle-link-hover-border-color: ;
$tabs-toggle-link-active-background-color: $cor-marrom-escuro;
// $tabs-toggle-link-active-border-color: ;
$tabs-toggle-link-active-color: #ffffff;
