$primary: $cor-marrom-escuro;
$family-sans-serif: "Signika", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$weight-normal: 300;
$link: $cor-marrom-claro;
$link-hover: $cor-marrom-escuro;
$background: #F9F3F2;
$footer-padding: 3rem 1.5rem;
$footer-background-color: #ffffff;
