.theme-items-list {
    --tainacan-input-color: #{$input-color};
    --tainacan-input-background-color: #{$input-bg};
    --tainacan-input-border-color: #{$input-border-color};
    --tainacan-label-color: var(--tainacan-gray5);
    --tainacan-info-color: var(--tainacan-gray4);
    --tainacan-heading-color: var(--tainacan-black);
    --tainacan-skeleton-color: #eeeeee;
    --tainacan-item-background-color: var(--tainacan-background-color);
    --tainacan-item-hover-background-color: var(--tainacan-gray1);
    --tainacan-item-heading-hover-background-color: var(--tainacan-gray2);
    --tainacan-primary: #{lighten($cor-marrom-claro, 30%)};
    --tainacan-secondary: #{$primary};
    --tainacan-success: var(--success);
    --tainacan-danger: var(--danger);
    --tainacan-warning: var(--warning);
    --tainacan-background-color: #{$body-bg};
    --tainacan-font-family: #{$font-family-base};
    --tainacan-base-font-size: 1rem;
    --tainacan-filter-menu-width-theme: 20%;
    --tainacan-one-column: 4.16667%;
    --tainacan-container-padding: 15px;
}
